{
  "presets": ["react-native"],
  "env": {
		"development": {
			"plugins": [
				"transform-react-jsx-source"
			]
		}
	},
	"plugins": [
		[
			"module-resolver",
			{
				"root": [
					"./"
				],
				// "extensions": [
				// 	".js",
				// 	".ios.js",
				// 	".android.js"
				// ],
				"alias": {
					"@components": "./src/components",
					"@styles": "./src/styles",
					"@assets": "./src/static",
					"@actions": "./src/actions",
					"@services": "./src/services",
					"@utils": "./src/utils"
				}
			}
		],
		"transform-decorators-legacy", // @修饰符
		"transform-export-extensions"
	]
}
